/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.clj-kondo/
/.lsp/
/src/auth0_token/secrets.clj
/src/.DS_Store
/src/auth0_token/.DS_Store
